#version=DEVEL
# System authorization information
#auth --enableshadow --passalgo=sha512
#repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
#repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage

install
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
#firstboot --enable
#ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens3 --gateway=10.240.216.1 --ip=10.240.217.133 --nameserver=8.8.8.8 --netmask=255.255.254.0 --ipv6=auto --activate
network  --bootproto=static --device=ens4 --gateway=192.168.137.1 --ip=192.168.137.2 --nameserver=8.8.8.8 --netmask=255.255.255.0 --onboot=off --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$hB6WwTpbf6XWjJMQ$VM2QMZM.W3T63aKX5DTaf9TZTCQKJxPhUHFIQb8O2slf7Qk4pEYoSfZbD6r9g82yO9QLC1fwafadjez8byyBI0
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --nontp
user --name=kvm --password=$6$KLPQGFSWgGo23jl6$4zDRxPQxesLwYmaxjF4SKEE8m8Gd8Q0120vs.lo6YnD0EsdOsYmheKOoX4.frZvmaTuBjfrsJjhFO2rnU6as31 --iscrypted --gecos="kvm"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=vda --size=3814
part pv.252 --fstype="lvmpv" --ondisk=vda --size=520473
volgroup rhel --pesize=4096 pv.252
logvol /  --fstype="xfs" --size=512837 --name=root --vgname=rhel
logvol swap  --fstype="swap" --size=7629 --name=swap --vgname=rhel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
