#version=DEVEL

# System authorization information
auth --enableshadow --passalgo=sha512


# Use CDROM installation media
cdrom


# Use graphical install
graphical


# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda


# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'


# System language
lang en_US.UTF-8


# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$ZvNGvtu1bPZGpcWa$U9TZ59G.SQ6wTGWUMUL/DAq/xVNjV5QFJhtNV.goGNsaAqFu2R1o1LnBaFRweRPravsuGH1gtOcDA5PUDEmoo.


# System services
services --disabled="chronyd"


# System timezone
timezone Asia/Shanghai --isUtc --nontp


# user
user --name=test --password=$6$eLujiwp4BM.JXV1/$mvrd4tyGVcLZnMUZSlig42KWtmeZgxAlD8GNohyeb5BzY8xVRW7Zjmd83DciPIwgLgjg3K.Ht8n6Hl4ziq6qX0 --iscrypted --gecos="test"


# X Window System configuration information
xconfig  --startxonboot


# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda


# Partition clearing information
clearpart --none --initlabel


# Disk partitioning information
part pv.315 --fstype="lvmpv" --ondisk=vda --size=261119
part /boot --fstype="xfs" --ondisk=vda --size=1024
volgroup cl --pesize=4096 pv.315
logvol swap  --fstype="swap" --size=20480 --name=swap --vgname=cl
logvol /  --fstype="xfs" --size=240635 --name=root --vgname=cl

reboot

%packages
#@^graphical-server-environment
#@base
#@core
#@desktop-debugging
#@dial-up
#@fonts
#@gnome-desktop
#@guest-agents
#@guest-desktop-agents
#@hardware-monitoring
#@input-methods
#@internet-browser
#@multimedia
#@print-client
#@x11
#kexec-tools

@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post
#systemctl disable     initial-setup.service
#systemctl disable     initial-setup-graphical.service
#systemctl set-default multi-user.target
mkdir -p /root/aiyoua
useradd lt
echo "hi"
%end
