#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdc
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eno1 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=eno2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno4 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=enp0s20u1u5 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens4f0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens4f1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens5f0 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=ens5f1 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$ULJL3dnkXYJU6DvC$nttxBtaHVihUw8ZRUK/ZcljV3yn13820l45qK.QnP9nQLMX4SBa9TW34kylMHiN.5k49kNGXtdsqa41cNvwFi0
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Shanghai --isUtc --nontp
user --name=test --password=$6$G.k1.3k3w6q1baai$IhRvw9NtaE5CgInqyewenQCoJWqiBTJvY..lNTa04j5HNLriLj2SIqBXDYf6pPLB28fnqIcIKywDVfFeeTLIJ1 --iscrypted --gecos="test"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdc
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sdc

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
