@import url("base.css");

.nav_dl {
    margin:3px 0 0 0;
    border:0;
    border:1px solid purple;
    padding:0;
    width:100%;
    overflow: hidden;
    background-color:#2980B9;
    list-style-type:none;
}

.nav_dl li {
    float:left;
    width:25%;
}

.nav_dl li a {
    display:block;
    //background-color:#2980B9;
    color:white;
    text-align:center;
    text-decoration: none;
}

.nav_dl li a:hover {
    background-color: #111;
}

.contant{
    margin:3px 0 0 20%;
    border:0;
    padding:0 0 0 10px;
    width:78%;
	background-color:#dddddd;
}



.note {
    margin-top:0;
    padding-top:0;
    font-size:70%;
    font-style:italic;
    font-style:normal;
    overflow: hidden;
}

.link {
    overflow-x:auto;
}
